/*.sln
/flickr-carousel/bin

/flickr-carousel/obj
/flickr-carousel/Properties

/flickr-carousel/*.config
/flickr-carousel/*.csproj
/flickr-carousel/*.user
/flickr-carousel/*.config
/flickr-carousel/*.config
